*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}       
#navBar
{
   height:70px;
   width: 100%;
   display: flex;
   margin: -9px auto;
   background-color: white;
}
.logo
{
   margin-left: 120px;
}
.womens
{  display: none;
   position: absolute;
   padding: 20px;


}
.title1:hover .womens{
   display: flex;
   background-color: white;
   z-index: 1;
   width: 100%;
   height: 10px;
   margin: auto;
}
.womens>p{
   margin-top: -7px;
}

p{
  margin-left: 17px;
  margin-top: 25px;
}

p>a{
   color: black;
   text-decoration: none;
   font-size: 14px;
}
a>img{
   margin-right: 40px;
   margin-left: 20px;
}
input{
   width: 200px;
   height: 25px;
   margin-top: 20px;
   border-radius: 7px;
   border: none;
}
.user{
   margin: 23px 15px 0px 15px;
}
.searchIcon{
    margin: 25px 15px 0px -20px;
}
#container{
   width: 80%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(11,1fr);
   grid-template-rows: 320px 180px 1400px ;
   grid-template-areas: 
   "tB tB tB tB tB tB tB tB tB tB tB"
   ". m tc tc tc tc tc tc tc tc ."
   ". m  it it it it it it it it .";
   

}


#titleBar{
 grid-area: tB;
 background-color: #F8F7F6;
}

.textCorner
{   
   grid-area: tc;
   margin-top: 52px;
   display: grid;
   grid-template-rows: 1fr 1fr;
}
#menu{
   grid-area: m;
   margin-top: 52px;
}
#items{

   grid-area: it;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(4,400px);
   gap: 12px;
}

#info{
   width: 81.81%;
   margin: 200px auto;
   height: 150px;
   display: grid;
   border-radius: 10px;
   background-color: white;
   grid-template-columns: repeat(3,1fr);
}

.msg{
   font-size: 30px;
   margin: 25px 0px 0px 330px;
}
.flex{
   display: flex;
}
.ellipsis{
     font-size: 30px;
     margin: 31px 0px 0px 15px;
}
#menu>a{
   color: gray;
   text-decoration: none;
   margin-top: 7px;
   margin-left: 7px;
}
#items>div{
   text-align: center;
}
#items>div>p{
   margin-top: -15px;
   margin-bottom: -20px;
}
.buyNow{
   background-color: black;
   color: white;
   width: 200px;
   padding: 5px;
   font-size: 20px;
   margin-top: -15px;
}
#footer{
   width: 80%;
   margin: auto;
   height: 400px;
   display: grid;
   grid-template-rows: 1.4px 380px 1.5px 100px;
   grid-template-columns: repeat(5,1fr);
   margin-top: 40px;
}

.upperLine
{   background-color: gray;
   grid-area: 1/1/2/-1;
}
.lowerLine
{
  grid-area: 3/1/4/-1;
  background-color: gray;
}
.ftCol>a{
   color: gray;
   line-height: 28px;
   text-decoration: none;
   font-weight: 600;
   font-size: 17px;
}
.ftCol>h3{
   font-weight:550;
}
.footerEnd{
   grid-area: 4/1/5/-1;
   justify-content: space-between;
}
.footerEnd>div{
   display: flex;
}